body {
    background-color: #0e2336;
}

i {
    margin-right: 5px;
}

a {
    text-decoration: none;
}

/* scroll bar  */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}


/* navbar-sec */

.navbar-brand,
.nav-link {
    color: white !important;
}

.navbar {
    border-style: solid;
    border-bottom-color: #0b2e4e;
}

.bg-color {
    background-color: #0e2336;
}

.dropdown-menu[data-bs-popper] {
    left: -133px !important;
    top: 50px;
    background-color: #0b2e4e;
}

.dropdown-item {
    color: white !important;
}

.dropdown-toggle::after {
    content: none !important;
}

/* loading-sec */

.loading-sec {
    background-color: #0e2336;
}

.loading-sec img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* carousel-sec */

.carousel-sec {
    margin: 2%;
}

.carousel-inner {
    border-style: solid;
    border-radius: 10px;
    border-color: transparent;
}

.d-block {
    width: 100% !important;
    height: auto !important;
}

/* card-sec */

.selmovie{
    display: none;
}
.show {
    display: block;
}
.card_filter{
    text-align: center;
    width: 70%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.card_filter div{
    margin-top: 5%;
}
.items{
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.items.active,
.items:hover{
    color: white;
    background: #007bff;
}
.card-img img {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    width: 85%;
    margin: 5%;
    transition: transform .3s;
}

.card-img img:hover {
    transform: scale(1.08);
}

/* movie-stream-sec */

.movie-stream-div {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    margin: 5%;
    height: 500px;
}

.toggle-top-bar {
    visibility: hidden !important;
}

.movie-img {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

.movie-img img {
    width: 100%;
}

.movie-details {
    color: white;
}

.movie-name {
    font-weight: 500;
    font-size: x-large;
}

.movie-details-row {
    margin-bottom: 5%;
}

.servers {
    text-align: center;
    margin-bottom: 5%;
    margin-top: -3%;
}

.imdb_rating {
    color: yellow;
}

#movie_trailer {
    color: white;
    font-weight: 500;
    margin-right: 10px;
}

.bi-star-fill {
    color: yellow;
}

/* register-sec */

.register-div,
.login-div {
    color: white;
    margin: 10%;
}

.login-svg {
    width: 400px;
    height: 400px;
    text-align: center;
}

.reg-head {
    font-weight: 500;
    font-size: x-large;
    text-align: center;
}

.upload-btn {
    text-align: center;
}

.upload-btn a {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* mobile view */

@media (max-width: 1000px) {
    .dropdown-menu[data-bs-popper] {
        left: 0px !important;
        top: 50px;
        background-color: #0b2e4e;
    }
}